.homePage {
  position: relative;
}
.hero-section {
  position: relative;
  background-image: url("https://springboard-cdn.appadvice.com/wp-content/appadvice-v2-media/2016/11/Netflix-background_860c8ece6b34fb4f43af02255ca8f225-xl.jpg");
  background-repeat: no-repeat;

  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  .hero-info {
    position: absolute;
    left: 5%;
    color: white;
    width: 30%;
    p {
      font-size: 12px;
    }
  }
}

.favorites-section {
  padding-bottom: 30px;
  h2 {
    text-align: center;
    margin: 30px 0;
    color: rgb(87, 87, 87);
  }
  .favorites-list {
    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 10px;
    }
    padding-bottom: 30px;
    margin: auto;
    height: 300px;
    width: 70%;
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: scroll;
    column-gap: 40px;
  }
}
