.hero-section {
  position: relative;
  background-image: url("https://springboard-cdn.appadvice.com/wp-content/appadvice-v2-media/2016/11/Netflix-background_860c8ece6b34fb4f43af02255ca8f225-xl.jpg");
  background-repeat: no-repeat;

  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  .hero-info {
    position: absolute;
    left: 5%;
    color: white;
    width: 30%;
    p {
      font-size: 12px;
    }
  }
}

.favorites-section {
  h1 {
    text-align: center;
    margin: 30px 0;
  }
  .favorites-list {
    width: 81%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    column-gap: 40px;
    row-gap: 40px;
  }
}
