.movie {
  display: grid;
  grid-template-columns: 200px auto;
  column-gap: 40px;

  .movie-image {
    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .movie-info {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0;
      cursor: pointer;
      &:hover {
        text-decoration: underline 3px black;
      }
    }
    small {
      padding: 10px 0;
    }
    p {
      font-size: 14px;
    }
    a {
      margin-top: auto;
      margin-bottom: auto;
    }
    button {
      margin-top: auto;
      width: 30%;
    }
  }
}
